.App-header {
  background-color: #222;
  padding: 10px 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

li {
  margin-top: 0.3em;
}